@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
}


body{
   
    background-color: #ECEDEF;
}

/*------------------ 
start style header portion
-------------------- */
header{
margin-left:50px;
   
}
.header-section{
    background-color:#2D25A0 ;
    height: 677px;
    width: 1440px;
    position: relative;
   
}






nav{
    display: flex;
    height: 44px;
    width:1163px;
     margin-top: 42px;
     position: absolute;
     margin-left: 156px;
     /* border: 2px solid red; */
    
   
}


.list{
width:590px ;
height: 24px;

}

 ul li{
display: inline-block;

/* border: 2px solid black; */
border-radius: 3px;
padding-right: 31px;
margin: 10px 0;
}
ul li a::before{

    content: "";
    height: 3px;
    width: 0;
    background-color:red;
    position: absolute;
   top:35px;
   transition: width 0.5s;
   text-align: center;
   
}

ul li a:hover::before{

    width: 73px;
}


ul li:last-child{
    padding-right: 0;
}

ul>li>a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 24px;

}
.login span {
color: #fff;
margin-right: 24px;
font-size: 16px;
text-transform: capitalize;

}


.login{
    height: 44px;
    width: 123px;
  
background-color: #E02C6D;
margin-left: 450px;
cursor: pointer;
border-radius: 50px;
}

.login i{
    margin-right: 8px;
    color: #fff;
    margin-left: 20px;
    margin-top: 14px;
    margin-bottom: 10px;
   

}

.banner{
    display: flex;
    justify-content: space-between;
  
}

.div-1{
width: 485px;
height: 230px;
top: 207px;
left:156px;
position: absolute;

}
.div-1 h1{
font-size: 64px;
color: #fff;
font-weight: 700;
line-height: 80px;


}
.div-1 button{
    Width :168px;
    Height: 44px;
    Top: 464px;
    Padding :10px, 24px, 10px, 24px;
    background-color:#E02C6D ;
   border: none;
    border-radius: 22px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.5s,color 0.5s;
    margin-top: 27px;
    text-transform: capitalize;

}
 
.div-1 button:hover{
    background-color:#fff ;
    color:#E02C6D ;
}

.div-1 i{
    margin-left: 8px;
}

 .div-2{

    top: 153px;
    left:743px ;
    /* border: 3px solid red; */
    height: 438px;
    width: 556px;
    position: absolute;

} 
.div-2 img{
    height: 438px;
    width: 556px;
    transition: transform 0.5s;
    cursor: pointer;
   
 
}

.div-2 img:hover{
    transform: scale(1.02);
    
}

/*------------------ 
end style header portion
-------------------- */


/*------------------ 
start style main portion-1
-------------------- */
.main-section-1{
    margin-top: 85px;
    display: flex;
    justify-content: center;
}

.players{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:27px;
    grid-column-gap:30px;
    
   
}

.players .image{
width: 300px;
height: 256px;

border-radius: 8px ;

}

.players .details{
    width: 300px;
    height: 160px;
}
.player{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 33px;
    width: 330px;
    height: 474px;
    border-radius: 8px;
    cursor: pointer;
  
  
}


.details h2{
    top: 16px;
    position: relative;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}

.details p{
    top: 10px;
    position: relative;
    font-size: 16px;
  line-height: 20px;
  color:#6C6C6C;
  font-weight: 400;

}


/*------------------ 
end style main portion-1
-------------------- */


/*------------------ 
start style main portion-2
-------------------- */
.main-section-2{
  margin-bottom: 153px;
}

.main-section2{
    display: flex;
    top: 165px;
    position: relative;
    justify-content: space-around;
    
}


.main-section2 .div-1{
height: 309px;
width: 469px;
left: 182px;
 position: absolute;
top:71px ;
}

.main-section2 .div-1 h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}

.main-section2 .div-1 p{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
   

}


.main-section2 .div-2{
    position: relative;
    left: 717px;
}
.main-section2 img{
    width: 567px;
    height: 427px;
    
}






/*------------------ 
start style main portion-2
-------------------- */
















/*------------------
 start stlye footer
 ------------------- */

.footer{
width: 483px;
height: 213px;
left: 475px;
top: 158px;
position: relative;



}

.footer img{
    width: 483px;
    height: 110px;

}

.footer .logo1{
    margin-top: 20px;
    text-align: center;
}

.footer p{
    margin-top: 20px;
    text-align: center;
}

.footer .icon{
    font-size:32px ;
    margin-right: 14px;
    color: #9B9FAF;
    transition: color 0.3s;
    cursor:pointer;
}
.facbook:hover{
    color:#1773EA;
}
.instagram:hover{
    color:#C0296B;
}
.twitter:hover{
    color:#1C9CEA;
}
.youtube:hover{
    color:#F60000;
}


/*------------------
 end stlye footer
 ------------------- */